.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;

  h3 {
    color: aliceblue;
  }
}

.form-container {
  height: 100%;
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
  background-color: #002650;
}
