@import url(~dragula/dist/dragula.css);
.dashboard__title {
  font-size: 20px;
  font-weight: 600;
  color: #1e5281;
  border-bottom: 2px solid #1e5281;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; }

.dashboard__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px; }

.dashboard-container {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%; }

.dashboard-layout {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .dashboard-layout--active {
    opacity: 0.5; }
  .dashboard-layout svg {
    cursor: pointer; }

.wrapper > div {
  transition: all ease-in 0.5s; }

.wrapper {
  margin-top: 30px; }
