.widget {
  border: 1px solid #ccc;
  margin-top: 30px; }
  .widget-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px;
    position: relative;
    height: 300px; }

.widget-header {
  align-items: center;
  background-color: #1e5281;
  color: #fff;
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  padding: 8px 0; }
  .widget-header__text {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600; }

.widget-header__icon-group svg {
  margin-right: 5px;
  cursor: pointer; }

.widget-header__icon-group .pointer {
  cursor: move; }
