$color-ccc: #ccc;
$color-fff: #fff;
$header-color: #1e5281;

.widget {
  border: 1px solid $color-ccc;
  margin-top: 30px;

  &-content {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 5px 0 5px;
    position: relative;
    height: 320px;
  }
}

.widget-header {
  align-items: center;
  background-color: $header-color;
  color: $color-fff;
  display: flex;
  flex: 1 1 100%;
  justify-content: space-between;
  padding: 8px 0;

  &__text {
    font-size: 16px;
    margin-left: 10px;
    font-weight: 600;
  }
}

.widget-header__icon-group {
  svg {
    margin-right: 5px;
    cursor: pointer;
  }
  a {
    color: #fff;
  }
}
