body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.user-avatar {
  border-radius: 100%;
  margin-top: -4px;
  margin-right: 4px;
  transition: all 0.2s ease;
  max-height: 40px;
}

.lds-hourglass {
  top: 40%;
  left: 50%;
  position: absolute;
  width: 100px;
  height: 100px;
}
.lds-hourglass:after {
  content: ' ';
  display: block;
  border-radius: 50%;
  box-sizing: border-box;
  border: 50px solid #fcf;
  border-color: #fcf transparent #fcf transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
