.arrow-up {
  background: #58b55c;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.arrow-down {
  background: #dc4c53;
  padding: 4px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.stock-close {
  cursor: pointer;
}

.badge {
  font-size: 16px;
  margin: 2px 2px 2px;
}

.stock-container {
  border: 1px dashed #b9b9b9;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}
